{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
<section class="container mt-5 text-center">
    <span class="display-1">SANGRAVAH
    </span>
</section>
{% endblock %}
