{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}
{% block body %}
<section class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mt-5 mx-auto border px-0 pb-3">
            <div class="container-fluid bg-dark text-center text-light py-2" style="height:50px">
                <p class="h3">
                    {% if editState %}
                        Modifier Une Categorie
                    {% else %}
                        Ajouter Une Categorie
                    {% endif %}
                </p>
            </div>
            <div class="container-fluid">
                {{form_start(form)}}
                {{form_widget(form)}}
                    <button class="btn btn-outline-dark">
                        {% if editState %}
                            Modifier
                        {% else %}
                            ENREGISTRER
                        {% endif %}
                    </button>
                {{form_end(form)}}       
            </div>
         </div>
    </div>
</section>
{% endblock %}
